@media screen and (max-width:800px){
    .container{
        display: grid;
        grid-template-areas: "nav"
                              "header"
                              "main"
                              "footer";
        grid-template-columns: 1fr;
        grid-template-rows: 70px 600px auto 300px;
    }

/* ---NAV--- */
    nav{
        grid-area: nav;
        z-index: 1;
    }

    /* ---HEADER--- */
    header{
        grid-area: header;
        background-position: 55%;
        animation: none;
        display: block;
    }
    header section{
        width: 70%;
        
    }
    header section h1{
        color: #fff;
        font-size: 3.2rem;
        margin-top: 20px;
    }
    header section p{
        font-size: 2rem;
        margin: 0;
        padding: 30px 0;
        margin-top: 70px;
    }
    /* content page header */
    header section h1{
        color: #fff;
        margin-top: 15px;
    }
    


/* ---MAIN--- */
    main{
        grid-area: main;
        width: 100%;
    }

    .intro-section{
        width: 90%;
    
    }
    .intro-section h2{
        font-size: 3rem;
    }
    .intro-section p{
        font-size: 2rem;
    }
    #kontakt-btn-main a{
        font-size: 2rem;
    }
    .artikkel-section{
        display: block;
    }
    .artikkel-section h2 {
        font-size: 3rem;
    }

    .artikkel-section article{
        margin: auto;
        margin-bottom: 20px;
        width: 90% !important;
    }

    .artikkel-section article ul li h3{
        font-size: 3rem;
    }

    main section article img{
        padding-top: 5%;
    }

    main section article ul li p{
        font-size: 25px;
    }

    main section article ul li a{
        font-size: 35px;
    }

/* artikkel-snarvei-lenker */
    .artikkel-seksjon{
        display: block;
    }
   
     .artikkel-seksjon section p{
        text-align: left;
         font-size: 1.7rem;
         margin-top: .5rem;
        
    }

    #uu-img, #seo-img{
        display: none;
    }
    #seo-img-responsiv, #uu-img-responsiv{
        display: block;
        width: 55%;
        margin: auto;
        padding: 0; 
    }
/* artikler */
.artikler{
    width: 70%;
   
}
/* ---FOOTER--- */
    footer{
        grid-area: footer;
        height: 100vh;
    }

    #main-footer{
        display: block;
        margin: 0;
        justify-content: space-evenly;
    }
    
    #main-footer section{
        margin-top: 4rem;
    }
    #main-footer h2{
        font-size: 2rem;
        text-align: left;
    }

    #main-footer ul li{
        font-size: 1.5rem;

    }
    .kontakt-oss ul{
        display: inline-block;
        margin: 0;
        padding: 0;
    }

    .snarveier ul{
        display: block;
    }

    footer section h3{
        padding-top: 100px;
        margin-top: 50px;
    }

    /* Kontakt oss page */

    #kontakt-skjema{
        margin: 0px;
    }
    .user_input{
        width: 300px;
        height: 50px;
        padding: 0 10px;
        margin-bottom: 20px;
        border: none;
        border-radius: 10px;
    }
    textarea{
        width: 300px;
        height: 300px;
        padding: 0 10px;
        margin-bottom: 20px;
        border: none;
        border-radius: 10px;
    }
    

}

/* ------------- MAX-WIDTH: 750PX ------------- */

@media screen and (max-width: 750px) {
    .container{
        display: grid;
        grid-template-areas: "nav"
                              "header"
                              "main"
                              "footer";
        grid-template-columns: 1fr;
        grid-template-rows: 70px 600px auto 300px;
    }

/* ---NAV--- */

  nav{
    grid-area: nav ; 
    z-index: 1;
    
    
    }
    nav #menu-bars{
        display: block;
        color: #fff;
        font-size: 1.5rem;
    }
    nav ul{
        display: none;
        position: static;
        width: 100%;
        background-color: #000000fa;
        height: 700px;
        top: 50px;
        left: 0;
        
    }
    nav ul li{
        font-size: 2rem;
        color: #fff;
        font-weight: bold;
        margin: auto;
        padding: 25px;
    }
    /* #page-menu{
        display: block;
        position: absolute;
        width: 100%;
        left: 0;
        top: 50px;
        height: 100%;
        background-color: #a43333;

    }
    #page-menu li{
        font-size: 2rem;
        color: #fff;
        font-weight: bold;
        margin: auto;
        padding: 25px;
        
    } */
    nav ul a{
        display: inline-block;
        padding: 20px;
        padding-left: 20px;
    }
    .kontakt-btn-nav{
        background-color: transparent;
        color: #fff;
        padding: 0;
        transition: none;

    }

    .kontakt-btn-nav a{
        color: #fff;
    }

    /* ---HEADER--- */
    header{
        grid-area: header;
        background-position: 45%;
        animation: none;
    }
    header section{
        width: 70%;
        
    }
    header section h1{
        color: #fff;
        font-size: 2.8rem;
        margin-top: 20px;
    }
    header section p{
        font-size: 1.5rem;
        margin: 0;
        padding: 30px 0;
        margin-top: 50px;
    }
    /* content page header */
    content-page-header{
        color: #fff;
        margin-top: 15px;
    }
    


/* ---MAIN--- */
    main{
        grid-area: main;
        width: 100%;
    }

   .intro-section{
        width: 70%;
    
    }
    .intro-section h2{
        font-size: 3rem;
    }
    .intro-section p{
        font-size: 1.5rem;
    }

/* innholdsider */

    .artikkel-seksjon{
        display: block;
    }
   
     .artikkel-seksjon section p{
        text-align: left;
         font-size: 1.7rem;
         margin-top: .5rem;
        
    }

    #uu-img, #seo-img{
        display: none;
    }
    #seo-img-responsiv, #uu-img-responsiv{
        display: block;
        width: 55%;
        margin: auto;
        padding: 0; 
    }


/* ---FOOTER--- */
    footer{
        grid-area: footer;
        height:fit-content;
    }

    #main-footer{
        display: block;
        margin: 0;
    }
    
    #main-footer section{
        margin-top: 4rem;
    }
    #main-footer h2{
        font-size: 2rem;
        text-align: left;
    }

    #main-footer ul li{
        font-size: 1.5rem;

    }
    .kontakt-oss ul{
        display: inline-block;
        margin: 0;
        padding: 0;
    }

    .snarveier ul{
        display: block;
    }

}


